@charset "utf-8";

body{
margin:0;
background-color: #ffffff;
color: #333;
font-size: 0.875em;
}

.link form {
  display: inline-block;  /* 横並びになる */
  margin-right: 10px;     /* 間隔調整 */
}

/*管理者ヘッダー・フッター*/
.header.admin,
.footer.admin{
	background-color: #ccc;
	padding:10px;
	font-weight:bold;
}

/*管理者側ヘッダー*/
.header.admin{
	font-size: 30px;
}

/*ヘッダーの右寄せ*/
header.right > p{
	margin-right: 10px;
}

/*ユーザー側ヘッダー・フッター*/
.header,
.footer{
	background-color: #7fff00;
	padding:10px;
	font-weight:bold;
}

/*両ヘッダー*/
.header,
.header.admin{
	height:90px;
	padding:10px;
}

/*両フッター*/
.footer,
.footer.admin{
	font-size:20px;
	font-weight:bold;
}

/*main*/
main{
	display:flex;
	justify-content: center;
	flex-direction:column;
	align-items:center;
	
	padding: 50px;
	width: 740px;
	margin: 0 auto;
}

.login{
	display: flex;
	justify-content: center;
	gap: 10px;
}
.login input{
	margin: 20px;
	text-align: center;
}

.adminlogin{
	text-align: right;
}

/*見出し*/
.title{
	display:flex;
	justify-content:flex-start;
	
	width:100%;
	padding-left:20px;
	font-size: 20px;
}

/*結果メッセージ*/
.result-message{
	font-size: 	50px;	
}


/*全ボタン*/
[class*=button]{
	display:flex;
	justify-content:center;
	align-items:center;
	
	height:30px;
	padding: 5px 10px;
	border-radius: 4px;	
	border: none;
	cursor: pointer;
	color: white;
	text-decoration: none;/*下線を削除する*/
/*	font-weight:bold;*/	
}

[class*=button]:hover{
  background-color: #0056b3;
}

/*新規登録ボタン*/
.signup-button{
	background-color: #d1971b;
}

/*ログイン+トップボタン*/
.login-button{
	background-color: #4d9407;
}

/*トップボタン-配置(右下)*/
.login-box,
.logout-box{
	display:flex;
	justify-content:flex-end;
	
	gap:10px;
	width:100%;
	padding-top:5px;
}

/* 画面構成16-メニューボタン */
.menu-button{
	width : 60%; 
	min-width : 300px;
	height : 65px;
	font-weight: bold;
	font-size: clamp(1rem, 5vw, 2.2rem);
	margin : 0 0 5px 0;	
	text-align: center;
	background-color:blue;
}

/*ログアウトボタン*/
.logout-button{
	width : 20%;
	min-width : 110px;
	height : 50px;
	margin: 0 0 0 auto;
	text-align: center;
	font-size: clamp( 0.8rem, 5vw, 1.2rem);
	background-color: #0056b3;
}

/*テーブルボタンのみ*/
.table-button{
	background-color: turquoise;	
	width:50px;
}

/*ホームボタンのみ*/
.home-button{
	background-color:blue;
	margin: 20px 30px 10px ;
	transform: scale(2);/*拡大*/
}

/*主要ボタン(戻る、登録等)*/
.return-button,
.action-button{
	background-color:blue;
	margin: 20px 30px 10px ;
	width:50px;	
	transform: scale(1.5);
}



.cart-button{
	background-color: #54d3be;
}

/*ボタン位置共通*/
[class*=btn]{
	display: flex;
	justify-content: center;
	align-items:center;
	
	margin-top: 20px;
	margin-bottom: 30px;
	gap: 40px;
}
	
/*ボタン1個の時の配置
.btn-one{
	margin-top: 20px;
	margin-bottom: 30px;
}*/

/*ボタン2個の時の配置
.btn-two{

}*/

/*ボタン2個の時の配置 逆向き*/
.btn-two.reverse{
	flex-direction:row-reverse;
}



/*全テーブル*/
table{
	table-layout: auto;
	border-collapse: collapse;  /* 罫線を重ねる */
	width: 100%;
	max-width: 700px;
	margin: 16px auto;
	
}

th,
td {
	border: 1px solid #ffffff;
	padding: 8px 12px;
}

th {
	background: #ffffff;
	text-align: center;
}

/* td{
	border: 2px solid #333; 
	border-collapse: collapse;  /*罫線を重ねる*/
	/* justify-content: left;
	text-align: left;
	
} */ 

/*画面構成2-テーブル*/
.cartIn{
	width: 100%;
	
}

.boder-box{
	width: 100%;
	height: 100%;
	display: flex;
	border: 2px solid #333;/*外枠*/
}

.product-name {
	width: 30%;
}

.num {
	width: 20%;
}

.num-items {
	width: 20%;

}

.num-items input {
	width: 3em;
}

.taikibin {
	width: 20%;
}





/*テキスト位置*/
.center{
	display:flex;
	justify-content: center;
	align-items:center;
}

.left{
	display:flex;
	justify-content:flex-start;
	align-items:center;
}

.right{
	display:flex;
	justify-content:flex-end;
	align-items:center;
}

/*酒匂追加コード*/

.text-box{
	display:flex;
	justify-content:start;
	gap:10px;
	margin-top:10px;
}

div.text-box > p,
div.text-box > label{
	margin:0;
	font-weight:bold;
	text-align:center;
}

.form-wide{
	width:300px;
}

.form-narrow{
	width:50px;
}






/* -------- ↓管理者メニュー追加文 -------- */

/*main*/
main.container {
	width : 90%;
	padding : 10px;  上下左右10px
	margin: 0 auto;  中央 
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}



/* 画面構成17-テーブル */
.admin-container{
	display:flex;
	justify-content:center;
	flex-direction:column;
	width : 100%;
	min-width : 90px;
	margin:0;
	/*margin : auto 10px;*/
}
.admin-container > .table-button{
	 background-color: #007bff;
	 color: white;
/*	 border: none;*/
	 padding: 5px 10px;
	 cursor: pointer;
	 border-radius: 4px;
}

 .admin-container > table {
	border: 1px solid #333;
 	margin: 0 auto;
 	width: 600px;
	text-align: center;
}

 .admin-container > tr,th,td{
  border: 1px solid #999;
  padding: 10px;
  text-align: center;
}

td.name {
	width : 600px;
	text-align: left;
}
.td-detail {
	border:1px solid #999;
	padding: 10px;
	text-align: center;
	width : 30px;
}

/* 注文一覧 */
.tr-under > th {
	border-top: none;
	border-right: none;
	border-left: none;
}

.td-button {
	border:1px solid #999;
	padding: 10px;
	text-align: center;
	width : 30px;
}

/*渡邉さん追加コード*/
.underline {
      border-bottom: 2px solid #b3b1b1;
      padding:10px;
	  width:700px;
}

/*牛島さん変更*/
input.nonbtn {

  background: none;        /* 背景なし */
  border: none;            /* 枠線なし */
  color: #0070c9;          
  padding: 0;              
  margin: 0 10px;          
  cursor: pointer;         /* カーソルをリンク風に */
  text-decoration: underline; /* 下線 */
  font-size: 2em;

}

/* ホバー時の色変化 */
input.nonbtn:hover {
  color: #005799;
  text-decoration: underline;
}
/*
.table_non,
.table_non th,
.table_non td {
  border: none;
}
 -------- ↑管理者メニュー追加文 -------- */