@charset "utf-8";

body{
margin:0;
background-color: #ffffff;
color: #333;
font-size: 0.875em;
}

.link form {
  display: inline-block;  /* 横並びになる */
  margin-right: 10px;     /* 間隔調整 */
}

/*管理者ヘッダー・フッター*/
.header.admin,
.footer.admin{
	background-color: #ccc;
	padding:10px;
}

.header.admin{
	font-size: 20px;
	padding:10px;
}

/*ユーザー側ヘッダー・フッター*/
.header,
.footer{
	background-color: #7fff00;
	padding:10px;
}

/*両ヘッダー*/
.header,
.header.admin{
	height:90px;
	display: flex;
	align-items: center;
	padding:10px;
}

/*main*/
main{
	display:flex;
	justify-content: center;
	flex-direction:column;
	align-items:center;
	
	padding: 50px;
	width: 740px;
	margin: 0 auto;
}

.login{
	display: flex;
	justify-content: center;
	gap: 10px;
}
.login input{
	margin: 20px;
	text-align: center;
}

.adminlogin{
	text-align: right;
}

/*見出し*/
.title{
	font-size: 20px;
	display:flex;
	justify-content:flex-start;
	width:100%;
}

/*テキスト*/
.result-message{
	font-size: 	50px;
/*	font-weight: */
	
}

/*全ボタン*/
[class*=button]{
	border: none;
	cursor: pointer;
	color: white;
	padding: 5px 10px;
	border-radius: 4px;
	
}

[class*=button]:hover{
  background-color: #0056b3;
}




/*テーブルボタンのみ*/
.table-button{
	background-color: turquoise;	
	width:50px;
}

/*ホームボタンのみ*/
.home-button{
	transform: scale(2);/*拡大*/
	text-decoration: none;/*下線を削除する*/
}

/*戻る+アクションボタン*/
.return-button,
.action-button,
.home-button{
	background-color:blue;
	margin-top: 20px; /*上に余白を入れる*/
}

/*ログイン+トップボタン*/
.login-button,
.top-button{
	background-color: #4d9407;
}

.login-button{
	display:flex;
	justify-content:center;
}


/*新規登録ボタン*/
.signup-button{
background-color: #d1971b;
}



/*ボタン1個の時の配置*/
.btn-one{
	display: flex;
	justify-content: center; /* 横方向中央寄せ */
	align-items:center;
	margin-top: 20px;
}

/*ボタン2個の時の配置*/
.btn-two{
	display: flex;
	justify-content: center;
	gap: 50px;
}


/*右寄せボタン*/
.top-button{
	display: flex;
	justify-content: flex-start;
	background-color:blue;
}

/*ログアウトボタン*/
.logout-button{
background-color: #6bb38e;
}

.cart-button{
background-color: #54d3be;
}

/*テーブル*/
table{
	table-layout: auto;
	border-collapse: collapse;  /* 罫線を重ねる */
	width: 100%;
	max-width: 700px;
	margin: 16px auto;
}

th,
td {
	border: 1px solid #ffffff;
	padding: 8px 12px;
}

th {
	background: #ffffff;
	text-align: center;
}

/* td{
	border: 2px solid #333; 
	border-collapse: collapse;  /*罫線を重ねる*/
	/* justify-content: left;
	text-align: left;
	
} */ 

/*画面構成2-テーブル*/
.cartIn{
	width: 100%;
	
}

.boder-box{
	width: 100%;
	height: 100%;
	display: flex;
	border: 2px solid #333;/*外枠*/
}

.product-name {
	width: 30%;
}

.num {
	width: 20%;
}

.num-items {
	width: 20%;

}

.num-items input {
	width: 3em;
}

.taikibin {
	width: 20%;
}


/*テキスト位置*/
.center{
	display:flex;
	justify-content: center;
}

.left{
	display:flex;
	justify-content:flex-start;
	padding-left:20px;
}

.right{
/* text-align:right;*/
	
	display:flex;
	justify-content:flex-end;

}

/*酒匂追加コード*/

.text-box{
	display:flex;
	justify-content:start;
	gap:10px;

}

.form-wide{
	width:300px;
}

.form-narrow{
	width:50px;
}

/*トップボタンのみ*/
.login-box{
	display:flex;
	justify-content:flex-end;
	align-items:flex-end;
	gap:10px;
	width:100%;
	padding-top:50px;
}
